Let's load the data now.

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv('/Users/rewanabdelqader/Collage/Semster 8/GraduationProject/Code/GraduationProject/DataSets/places_data.csv 20-36-45-498.csv')

# Split the data into two separate columns
df[['place_name', 'city']] = df['place_name'].str.split(' - ', expand=True)
# Print the updated DataFrame
df.head(5)

,place_id,place_name,place_type,popularity,rating_count,average_rating,budget,keywords,city
0,140,Shooting Club,['outdoor'],1988,2000,3.69,1000,['Food and drink'],Cairo
1,37,El Gezira Sporting Club,"['indoor', 'outdoor']",936,10000,4.31,100,"['Movies and TV', 'Travel', 'Outdoor activitie...",Cairo
2,358,Al-Fayoum Oasis,"['outdoor', 'indoor']",4507,10000,3.75,100,"['Technology', 'Fashion', 'Reading', 'Gardenin...",None
3,275,Enchanted Escape Egypt,['outdoor'],2194,3000,2.51,100,"['Science and nature', 'Cars', 'History and po...",Cairo
4,578,Cairo Marriott Hotel,"['indoor', 'outdoor']",822,100,2.33,1000,"['Pet lovers', 'Cars', 'Sports', 'Photography'...",Cairo

Now, we can filter out the places

# **Content Based Filtering**
In this recommender system the content of the places (keywords, budget, rating, count rating,average rating etc) is used to find its similarity with other places. Then the places that are most likely to be similar are recommended.

![](https://image.ibb.co/f6mDXU/conten.png)

In [3]:


# add the budget and keywords features to the dataset
df['budget'] = df['budget'].astype(float)
df['keywords'] = df['keywords'].apply(lambda x: ' '.join(x))
df['features'] = df['keywords'] + ' ' + df['budget'].astype(str)

# create a tf-idf matrix for the features column
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['features'])



We will be using the cosine similarity to calculate a numeric quantity that denotes the similarity between two places. We use the cosine similarity score since it is independent of magnitude and is relatively easy and fast to calculate. Mathematically, it is defined as follows:
![]()

Since we have used the TF-IDF vectorizer, calculating the dot product will directly give us the cosine similarity score. Therefore, we will use sklearn's **linear_kernel()** instead of cosine_similarities() since it is faster.

In [4]:
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

We are going to define a function that takes in a place name as an input and outputs a list of the 10 most similar movies. Firstly, for this, we need a reverse mapping of place names and DataFrame indices. In other words, we need a mechanism to identify the index of a place in our metadata DataFrame, given its title.

In [5]:
# Construct a reverse map of indices and place names
indices = pd.Series(df.index, index=df['place_name']).drop_duplicates()

We are now in a good position to define our recommendation function. These are the following steps we'll follow :-
* Get the index of the place given its name.
* Get the list of cosine similarity scores for that particular movie with all places. Convert it into a list of tuples where the first element is its position and the second is the similarity score.
* Sort the aforementioned list of tuples based on the similarity scores; that is, the second element.
* Get the top 10 elements of this list. Ignore the first element as it refers to self (the place most similar to a particular place is the place itself).
* Return the titles corresponding to the indices of the top elements.

In [6]:
def get_similar_places(place_name, keywords=[], budget=np.inf, cosine_sim=cosine_sim, df=df):
    # Get the index of the place that matches the name
    idx = indices[place_name]

    # Get the pairwise similarity scores of all places with that place
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the places based on the average rating
    sim_scores = sorted(sim_scores, key=lambda x: df['average_rating'].iloc[x[0]], reverse=True)

    # Get the indices of the top 10 most similar places
    place_indices = [x[0] for x in sim_scores[1:11]]

    # Filter the places based on keywords and budget
    filtered_places = df.iloc[place_indices][df['budget'] <= budget]
    if keywords:
        filtered_places = filtered_places[filtered_places['keywords'].apply(lambda x: any(keyword in x for keyword in keywords))]

    # Select the relevant columns and return the filtered places sorted by average rating
    return filtered_places[['place_name', 'place_id', 'average_rating']].sort_values(by='average_rating', ascending=False)
get_similar_places('The Sunken City of Heracleion')

/var/folders/2s/0csdzgrs4gs5qz5648kq8qtr0000gn/T/ipykernel_27030/2254651051.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_places = df.iloc[place_indices][df['budget'] <= budget]

                      place_name  place_id  average_rating
298              The Halls Egypt       154            4.98
951          6th Dimension Egypt       970            4.98
114        The Escape Room Egypt       187            4.96
390               Roasting House       321            4.96
453                  Sharm Plaza       613            4.96
41                  Escape Egypt       829            4.95
499                   Yalla Bina       407            4.95
640                  Caffe Greco       385            4.95
251                   The Bakery       220            4.94
274  Indigo Beach Club, Hurghada       149            4.94

In [7]:
# define the recommendation function
def get_recommendations(place_name, city=None, budget=None, cosine_sim=cosine_sim):
    # filter the dataset based on the city and budget
    df_filtered = df.copy()

    if city:
        df_filtered = df_filtered[df_filtered['city'] == city]

    if budget:
        df_filtered = df_filtered[df_filtered['budget'] <= budget]

    # add the budget and keywords features to the filtered dataset
    df_filtered['budget'] = df_filtered['budget'].astype(float)
    df_filtered['keywords'] = df_filtered['keywords'].apply(lambda x: ' '.join(x))
    df_filtered['features'] = df_filtered['keywords'] + ' ' + df_filtered['budget'].astype(str)

    # create a tf-idf matrix for the features column in the filtered dataset
    tfidf_matrix_filtered = tfidf.transform(df_filtered['features'])

    # compute the pairwise similarity scores for the features
    sim_scores = list(enumerate(cosine_sim[indices[place_name]]))

    # sort the places based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # get the indices of the top 10 most similar places
    sim_indices = [i for i, _ in sim_scores[1:11]]

    # return the names of the top 10 most similar places
    return df_filtered.loc[sim_indices, ['place_name', 'budget', 'average_rating', 'keywords']]

# example usage
get_recommendations('The Sunken City of Heracleion')

,place_name,budget,average_rating,keywords
11,Tiba Outlet Mall,250.0,4.35,[ ' P e t l o v e r s ...
12,The Mall of Arabia,250.0,3.52,"[ ' M u s i c ' , ' D ..."
24,Cairo International Stadium,250.0,1.39,"[ ' M u s i c ' , ' D ..."
27,Fun City,250.0,1.20,[ ' M o v i e s a n d ...
30,"Tamara Lebanese Bistro, Cairo",250.0,4.10,"[ ' S p o r t s ' , ' ..."
34,Room Escape Egypt,250.0,4.48,[ ' S c i e n c e a n ...
39,"Le Deck, Alexandria",250.0,2.13,"[ ' M u s i c ' , ' P ..."
41,Escape Egypt,250.0,4.95,[ ' P e t l o v e r s ...
44,Sky Fun Amusement Park,250.0,4.34,[ ' P e t l o v e r s ...
57,The Japan Foundation,250.0,1.82,[ ' A r t a n d c u ...

In [8]:
# define the recommendation function
def get_recommendations(place_name, city=None, budget=None, cosine_sim=cosine_sim):
    # filter the dataset based on the city and budget
    df_filtered = df.copy()

    if city:
        df_filtered = df_filtered[df_filtered['city'] == city]

    if budget:
        df_filtered = df_filtered[df_filtered['budget'] <= budget]

    # add the budget and keywords features to the filtered dataset
    df_filtered['budget'] = df_filtered['budget'].astype(float)
    df_filtered['keywords'] = df_filtered['keywords'].apply(lambda x: ' '.join(x))
    df_filtered['features'] = df_filtered['keywords'] + ' ' + df_filtered['budget'].astype(str)

    # create a tf-idf matrix for the features column in the filtered dataset
    tfidf_matrix_filtered = tfidf.transform(df_filtered['features'])

    # compute the pairwise similarity scores for the features
    sim_scores = list(enumerate(cosine_sim[indices[place_name]]))

    # sort the places based on the similarity scores and average rating
    sim_scores = sorted(sim_scores, key=lambda x: (x[1], df_filtered.loc[x[0], 'average_rating']), reverse=True)

    # get the indices of the top 10 most similar places
    sim_indices = [i for i, _ in sim_scores[1:11]]

    # return the names of the top 10 most similar places
    return df_filtered.loc[sim_indices, ['place_name', 'budget', 'average_rating', 'keywords']]

# example usage
get_recommendations('The Sunken City of Heracleion')

,place_name,budget,average_rating,keywords
41,Escape Egypt,250.0,4.95,[ ' P e t l o v e r s ...
952,Cleopatra's Bath,250.0,4.93,"[ ' D a n c i n g ' , ..."
708,Pharos Island,250.0,4.92,[ ' F o o d a n d d ...
606,Riddle Room Egypt,250.0,4.91,[ ' D I Y a n d c r ...
554,Festival City Mall,250.0,4.90,[ ' M o v i e s a n d ...
688,Alchemy,250.0,4.88,[ ' G a r d e n i n g ' ...
938,Sun City Mall,250.0,4.88,[ ' P h o t o g r a p h ...
701,Four Seasons Hotel Cairo at Nile Plaza,250.0,4.87,"[ ' F a s h i o n ' , ..."
366,Fun Kingdom,250.0,4.82,"[ ' R e a d i n g ' , ..."
902,Luna Park,250.0,4.79,[ ' V o l u n t e e r i ...

In [9]:
# define the recommendation function
def get_recommendations(place_name, cosine_sim=cosine_sim):
    # get the index of the place that matches the name
    idx = indices[place_name]

    # compute the pairwise similarity scores for the features
    sim_scores = list(enumerate(cosine_sim[idx]))

    # sort the places based on the similarity scores and average rating
    sim_scores = sorted(sim_scores, key=lambda x: (x[1], df.loc[x[0], 'average_rating']), reverse=True)

    # get the indices of the top 10 most similar places
    sim_indices = [i for i, _ in sim_scores[1:11]]

    # return the names of the top 10 most similar places
    return df.loc[sim_indices, 'place_name']

# example usage
get_recommendations('The Sunken City of Heracleion')

41                               Escape Egypt
952                          Cleopatra's Bath
708                             Pharos Island
606                         Riddle Room Egypt
554                        Festival City Mall
688                                   Alchemy
938                             Sun City Mall
701    Four Seasons Hotel Cairo at Nile Plaza
366                               Fun Kingdom
902                                 Luna Park
Name: place_name, dtype: object

In [10]:
def get_recommendations(place_name, city=None, budget=None, cosine_sim=cosine_sim):
    # Filter the dataset based on the city and budget
    df_filtered = df.copy()

    if city:
        df_filtered = df_filtered[df_filtered['city'] == city]

    if budget:
        df_filtered = df_filtered[df_filtered['budget'] <= budget]

    # Combine the keywords and budget columns into a single 'features' column
    df_filtered['features'] = df_filtered['keywords'].apply(lambda x: ' '.join(x)) + ' ' + df_filtered['budget'].astype(str)

    # Create a tf-idf matrix for the features column in the filtered dataset
    tfidf_matrix_filtered = tfidf.transform(df_filtered['features'])

    # Compute the pairwise similarity scores for the features
    sim_scores = list(enumerate(cosine_sim[indices[place_name]]))

    # Sort the places based on the similarity scores and average rating
    sim_scores = sorted(sim_scores, key=lambda x: (x[1], df_filtered.loc[x[0], 'average_rating']), reverse=True)

    # Get the indices of the top 10 most similar places
    sim_indices = [i for i, _ in sim_scores[5:11]]

    # Return a dataframe with the top 10 most similar places
    recommendations = df_filtered.loc[sim_indices, ['place_name', 'budget', 'average_rating', 'keywords']]
    recommendations = recommendations.rename(columns={'place_name': 'Place Name',
                                                      'budget': 'Budget',
                                                      'average_rating': 'Average Rating',
                                                      'keywords': 'Keywords'})
    return recommendations
get_recommendations('The Sunken City of Heracleion')

,Place Name,Budget,Average Rating,Keywords
554,Festival City Mall,250.0,4.90,"[ ' M o v i e s a n d T V ' , ' G a r d ..."
688,Alchemy,250.0,4.88,"[ ' G a r d e n i n g ' , ' T e c h n o l o ..."
938,Sun City Mall,250.0,4.88,"[ ' P h o t o g r a p h y ' , ' T e c h n o ..."
701,Four Seasons Hotel Cairo at Nile Plaza,250.0,4.87,"[ ' F a s h i o n ' , ' M o v i e s a n d ..."
366,Fun Kingdom,250.0,4.82,"[ ' R e a d i n g ' , ' S p o r t s ' , ' ..."
902,Luna Park,250.0,4.79,"[ ' V o l u n t e e r i n g ' , ' C a r s ' ..."